<form id="resetPasswordForm">
  <div class="row">
    <div class="col-sm-12 col-md-6 form-group d-grid mx-auto d-block form-floating">
      <input type="text" name="email" id="email" class="form-control" placeholder="Mobile Number" [(ngModel)]="representativeEmail" required>
      <label for="email">Mobile Number</label>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-sm-12 col-md-6 d-grid mx-auto d-block">
      <button type="button" class="btn btn-primary btn-block" (click)="getRepresentativeSecurityQuestion()">
        Reset Password
      </button>
    </div>
  </div>
</form>

