<form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
  <div class="row pb-3 justify-content-center">
    <div class="col-sm-12 col-md-6 form-group">
      <label for="securityQuestion" >{{representativeObject.question}}</label>
      <input type="text" name="securityAnswer" id="securityAnswer" class="form-control" placeholder="Security Answer" [(ngModel)]="resetPasswordObject.securityAnswer" #securityAnswer="ngModel" required
      [ngClass]="(securityAnswer.errors?.required && (securityAnswer.touched || isResetPasswordFormSubmitted)) ? 'text-has-error' : ''">
     <small class="error-text" *ngIf="(securityAnswer.touched || isResetPasswordFormSubmitted) && (securityAnswer.errors?.required)">{{errorMessages.requiredField}}</small>
    </div>
  </div>

  <div class="row pb-3 justify-content-center">
    <div class="col-sm-12 col-md-6 form-group">
      <input type="text" name="email" id="email" class="form-control" placeholder="Email Address" [(ngModel)]="representativeObject.email" disabled>
    </div>
  </div>

  <div class="row pb-3 justify-content-center">
    <div class="col-sm-12 col-md-6 form-group">
      <input [type]="isFieldOneTextVisible ? 'text' : 'password'" class="form-control" name="password" id="password" placeholder="New Password" [(ngModel)]="resetPasswordObject.newPassword" #password="ngModel" required
    [ngClass]="((isResetPasswordFormSubmitted || password.touched) && password.errors?.required) ? 'text-has-error' : ''">
    <small class="error-text" *ngIf="(password.touched || isResetPasswordFormSubmitted) && (password.errors?.required)"> {{errorMessages.requiredField}} </small>
    <span class="fa field-icon d-flex justify-self-end" [ngClass]="isFieldOneTextVisible ? 'fa-eye-slash' : 'fa-eye'" id="toggle-Password-span-1" (click)="togglePasswordText(1)"></span>
    </div>
  </div>

  <div class="row pb-3 justify-content-center">
    <div class="col-sm-12 col-md-6 form-group">
      <input [type]="isFieldTwoTextVisible ? 'text' : 'password'" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" [(ngModel)]="resetPasswordObject.confirmPassword"
     #confirmPassword="ngModel" [equal]="resetPasswordObject.newPassword" required
    [ngClass]="((isResetPasswordFormSubmitted || confirmPassword.touched) && (confirmPassword.errors?.required || confirmPassword.errors?.equal)) ? 'text-has-error' : ''">

    <small class="error-text" *ngIf="(confirmPassword.touched || isResetPasswordFormSubmitted) && confirmPassword.errors?.required"> {{errorMessages.requiredField}} </small>
    <small class="error-text" *ngIf="(confirmPassword.touched || isResetPasswordFormSubmitted) && (confirmPassword.errors?.equal)"> {{errorMessages.passwordMismatch}} </small>
    <span class="fa field-icon d-flex justify-self-end" [ngClass]="isFieldTwoTextVisible ? 'fa-eye-slash' : 'fa-eye'" id="toggle-Password-span-2" (click)="togglePasswordText(2)"></span>
    </div>
  </div>

  <div class="row pb-3 justify-content-center">
    <div class="col-sm-12 col-md-6 form-group">
      <input [type]="isFieldOneTextVisible1 ? 'text' : 'password'" name="pin" id="pin" class="form-control" placeholder="Pin" [(ngModel)]="resetPasswordObject.pin" #pin="ngModel" required
        [ngClass]="((isResetPasswordFormSubmitted || pin.touched) && pin.errors?.required) ? 'text-has-error' : ''">
        <small class="error-text" *ngIf="(pin.touched || isResetPasswordFormSubmitted) && (pin.errors?.required)"> {{errorMessages.requiredField}} </small>
        <span class="fa field-icon" [ngClass]="isFieldOneTextVisible1 ? 'fa-eye-slash' : 'fa-eye'" id="toggle-Pin-span-1" (click)="togglePinText(1)"></span>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-sm-12 col-md-6 d-grid mx-auto d-block">
      <button type="submit" class="btn btn-primary btn-block">
        Reset Password
      </button>
    </div>
  </div>
</form>

