<form id="nextOfKinForm">
  <div class="row mb-3">
    <div class="col-sm-12 form-floating">
      <input type="text" name="name" id="name" class="form-control" placeholder="Name">
      <label for="name">Name</label>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12 col-md-6 form-floating mb-3 pb-md-0">
      <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number">
      <label for="phoneNumber">Phone Number</label>
    </div>
    <div class="col-sm-12 col-md-6 form-floating">
      <select name="relationship" id="relationship" class="form-select">
        <option value="1">Mother</option>
        <option value="1">Brother</option>
      </select>
      <label for="relationship">Relationship</label>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-12 form-floating">
      <select name="qualification" id="qualification" class="form-select">
        <option value="1">Bachelors</option>
        <option value="1">HND</option>
      </select>
      <label for="qualification">Qualification</label>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-12 form-floating">
      <input type="text" name="address" id="address" class="form-control" placeholder="Address">
      <label for="address">Address</label>
    </div>
  </div>
</form>
