<form id="workAndEducation">
  <div class="row mb-3">
    <div class="col-sm-12 form-floating">
      <select name="level-of-work" id="level-of-work" class="form-select" [(ngModel)]="levelOfWork" (change)="clearObjects()">
        <option value="selfemployed">Self Employed</option>
        <option value="employed">Employed</option>
        <option value="unemployed">Unemployed</option>
      </select>
      <label for="levelOfWork">Job Type</label>
    </div>
  </div>

  <div *ngIf="levelOfWork == 'selfemployed'">
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating">
        <input type="text" class="form-control" placeholder="Business Name" id="businessName" name="businessName">
        <label for="businessName">Business Name</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="Monthly Earnings" id="monthlyEarnings" name="monthlyEarnings" prefix="₦" mask="separator.2" thousandSeparator=",">
        <label for="monthlyEarnings">Monthly Earnings</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="Monthly Expenditure" id="monthlyExpenditure" name="monthlyExpenditure" prefix="₦" mask="separator.2" thousandSeparator=",">
        <label for="monthlyExpenditure">Monthly Expenditure</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating">
        <select name="isBusinessRegistered" id="isBusinessRegistered" class="form-select" [(ngModel)]="isBusinessRegistered" (ngModelChange)="showRcField()">
          <option value="no">No</option>
          <option value="yes">Yes</option>
        </select>
        <label for="isBusinessRegistered">Is Your Business Registered?</label>
      </div>

    </div>

    <div class="row mb-3" *ngIf="showRcNumberField">
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="RC Number" id="rcNumber" name="rcNumber">
        <label for="rcNumber">RC Number</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating">
        <select name="businessType" id="businessType" class="form-select">
          <option value="service">Service</option>
          <option value="product">Product</option>
        </select>
        <label for="businessType">Business Type</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="Business Description" id="businessDescription" name="businessDescription">
        <label for="businessDescription">Business Description</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating">
        <select name="space" id="space" class="form-select">
          <option value="online">Online</option>
          <option value="physical">Physical</option>
        </select>
        <label for="space">Business Space</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="Business Address" id="businessAddress" name="businessAddress">
        <label for="businessAddress">Business Address</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <select name="qualification" id="qualification" class="form-select">
          <option value="1">BSC</option>
        </select>
        <label for="qualification">Qualification</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="How long have you been in your location?" id="timeAtBusinessLocation" name="timeAtBusinessLocation">
        <label for="timeAtBusinessLocation">How long have you been in your location?</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="Tax ID Number" id="taxIdNumber" name="taxIdNumber">
        <label for="taxIdNumber">Tax ID Number</label>
      </div>
    </div>
  </div>

  <div *ngIf="levelOfWork == 'employed'">
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating">
        <input type="text" class="form-control" placeholder="Monthly Income" id="monthlyIncome" name="monthlyIncome" prefix="₦" mask="separator.2" thousandSeparator=",">
        <label for="monthlyIncome">Monthly Income</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="Job Role" id="jobRole" name="jobRole">
        <label for="jobRole">Job Role</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating">
        <select name="conpanyIndustry" id="conpanyIndustry" class="form-select">
          <option value="1">Information</option>
        </select>
        <label for="companyIndustry">Company Industry</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <input type="text" class="form-control" placeholder="Companys' Name" id="companyName" name="companyName">
        <label for="companyName">Company Name</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating">
        <input type="text" class="form-control" placeholder="Companys' Address" id="companyAddress" name="companyAddress">
        <label for="companyAddress">Companys' Address</label>
      </div>
      <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
        <select name="qualification" id="qualification" class="form-select">
          <option value="1">BSC</option>
        </select>
        <label for="qualification">Qualification</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 form-floating">
        <input type="text" class="form-control" placeholder="Monthly Expenditure" id="monthlyExpenditure" name="monthlyExpenditure" prefix="₦" mask="separator.2" thousandSeparator=",">
        <label for="monthlyExpenditure">Monthly Expenditure</label>
      </div>
      <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
        <div class="document-container">
          <div class="document-item" (click)="openDocumentUpload()">
            <img src="../../../../assets/img/icons/file.svg" alt="">
            <div style="margin-left: 1rem;">
              <p>Upload Staff ID</p>
              <small class="empty" *ngIf="documentFileLength == 0">Format must not exceed 50MB</small>
              <small class="added" *ngIf="documentFileLength > 0">{{documentFileLength}} document added</small>
              <input type="file" id="documentUpload" name="documentUpload" accept="image/*, .pdf, .doc, .docx" (change)="handleDocumentUpload($event)" hidden>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

<!-- Self employed -->
<!-- Monthly earning, monthly expenditure, is business registered (if yes, provide rc number), How long have you been in your location, Tax id number. -->

<!-- Employeed -->
<!-- Monthly expenditure, upload staff ID -->

<!-- Guarantor -->
<!-- Include in loan process -->

<!-- Personal Info -->
<!-- Facebook, Twitter, Instagram -->
