<div class="row username-container">
  <div class="col-md-12">
    <!-- <img [src]="u.photoImage | authImage | async" onerror="this.onerror=null; this.src='assets/imgs/avartar.png'" alt="" class="float-right rounded-image"> -->
    <!-- <img src="assets/imgs/avartar.png" alt="" class="float-end rounded-image"> -->

  </div>
  <div class="col-md-12 d-flex justify-content-end">
    <div class="thumbnail-container align-self-center" style="margin-right: .75rem;">
      <img src="../../../assets/img/user-thumbnail.png" alt="" class="instructor-image">
    </div>

    <span class="username align-items-center">Welcome Back, Jamie!</span>
    <!-- <h4 style="font-size: 18px; color: #000000; font-weight: 700; text-align: right;" class="mb-0">{{getGreetingTime()}} {{representative.firstName}} {{representative.lastName}}</h4>
    <small class="float-end">Last Login: {{representative.lastLogin | date: 'MMM d, y, h:mm:ss a'}} </small> -->
  </div>
</div>
