<form id="airtimeForm">
  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <select name="account" id="account" class="form-select">
        <option>Account A</option>
        <option>Account B</option>
      </select>
      <label for="account">Select Account</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <select name="network" id="network" class="form-select">
        <option>Airtel</option>
        <option>MTN</option>
      </select>
      <label for="account">Select Network</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" id="phoneNumber">
      <label for="phoneNumber">Phone Number</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <input type="text" class="form-control" placeholder="Amount" name="amount" id="amount">
      <label for="amount">Amount</label>
    </div>
  </div>

  <div class="row">
    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary" routerLink="/dashboard">Cancel</button>
      <button type="button" class="btn btn-primary">Confirm Purchase </button>
      <button type="button" class="btn btn-primary">Schedule Purchase</button>
    </div>
  </div>
</form>
