<app-loader></app-loader>
<div class="wrapper d-flex align-items-stretch">

  <app-sidebar *ngIf="showSidebar"></app-sidebar>
  <div id="content" [ngClass]="(currentUrl == '/register' || currentUrl == '/login' || currentUrl == '/') ? '' : 'page-padding'">
    <app-header *ngIf="showHeader"></app-header>

    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="container-fluid py-0" [ngClass]="(currentUrl == '/register' || currentUrl == '/login' || currentUrl == '/') ? 'mb-0' : 'mb-5'">
  <div class="row">
    <app-sidebar *ngIf="showSidebar"></app-sidebar>
    <app-header *ngIf="showHeader"></app-header>

    <section [ngClass]="(currentUrl == '/register' || currentUrl == '/login' || currentUrl == '/') ? 'px-0 mx-0' : 'main-page content-padding'">
      <router-outlet></router-outlet>
    </section>
  </div>
</div> -->
