<div class="row">
  <div class="col-md-4 form-floating pb-3 pb-md-0">
    <input [type]="isFieldOneTextVisible ? 'text' : 'password'" class="form-control" placeholder="Old Password" name="oldPassword" id="oldPassword" [disabled]="isChangingPassword" required>
    <label for="oldPassword">Input Old Password</label>
  </div>
  <div class="col-md-4 form-floating pb-3 pb-md-0">
    <input [type]="isFieldTwoTextVisible ? 'text' : 'password'" class="form-control" placeholder="New Password" name="newPassword" data-smk-strongPass="standard" [disabled]="isChangingPassword" id="newPassword" required>
    <label for="newPassword">Input New Password</label>
  </div>
  <div class="col-md-4 form-floating pb-3 pb-md-0">
    <input [type]="isFieldThreeTextVisible ? 'text' : 'password'" class="form-control" placeholder="Confirm New Password" name="confirmPassword" id="confirmPassword" [disabled]="isChangingPassword" required>
    <label for="confirmPassword">Confirm New Password</label>

  </div>
</div>
