<div class="row mb-3">
  <div class="col-sm-12 form-floating">
    <input type="text" name="loanType" id="loanType" placeholder="loanType" class="form-control" [value]="'General Loan'" disabled>
    <label for="loanType">Name of loan</label>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-12 col-md-6 form-floating">
    <input type="text" name="amount" id="amount" class="form-control" placeholder="How much do you need?" [(ngModel)]="loanParams.amount" (ngModelChange)="calculator()">
    <label for="amount">How much do you need?</label>
  </div>

  <div class="col-sm-12 col-md-6 form-floating mt-3 mt-md-0">
    <select name="tenure" id="tenure" class="form-select" [(ngModel)]="loanParams.tenure" (ngModelChange)="calculator()">
      <option value="1">1 Month</option>
      <option value="2">2 Months</option>
      <option value="3">3 Months</option>
    </select>
    <label for="tenure">Select loan duration</label>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-sm-12 col-md-4 form-floating">
    <input type="text" name="interest" id="interest" placeholder="Interest" class="form-control" [value]="interest + '%'" disabled>
    <label for="interest">Interest</label>
  </div>
  <div class="col-sm-12 col-md-4 form-floating mt-3 mt-md-0">
    <input type="text" name="interestAccruable" id="interestAccruable" class="form-control" placeholder="Interest accruable" [value]="accruedInterest" disabled>
    <label for="interestAccruable">Interest accruable</label>
  </div>
  <div class="col-sm-12 col-md-4 form-floating mt-3 mt-md-0">
    <input type="text" name="returnOnLoan" id="returnOnLoan" class="form-control" placeholder="Total amount" [value]="returnOnLoan" disabled>
    <label for="returnOnLoan">Total amount</label>
  </div>
</div>

<div class="row">
  <div class="d-grid gap-3 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-primary" (click)="moveToNextStep()">Next</button>
  </div>
</div>

