
<form id="dataForm">


  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <select class="form-select" name="account" id="account">
        <option value="a">Account A</option>
      </select>
      <label for="account">Select Account</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <select class="form-select" name="network" id="network">
        <option value="airtel">Airtel</option>
      </select>
      <label for="network">Network</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <select class="form-select" name="dataPlan" id="dataPlan">
        <option value="a">4000</option>
      </select>
      <label for="dataPlan">Data Plan</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-floating pb-3">
      <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" id="phoneNumber">
      <label for="phoneNumber">Phone Number</label>
    </div>
  </div>

  <div class="row">
    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary" routerLink="/dashboard">Cancel</button>
      <button type="button" class="btn btn-primary">Confirm Purchase </button>
      <button type="button" class="btn btn-primary">Schedule Purchase</button>
    </div>
  </div>
</form>
