.document-container {
  display: flex;
  justify-content: start;
}

.document-container > .document-item {
  padding: .75rem;
  border: 1px solid #0A9D5B;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.document-item > div > p {
  margin: 0;
  font-weight: bold;
}

.document-item > div > small.empty {
  font-size: 12px;
  font-weight: 600;
  color: darkred;
}

.document-item > div > small.added {
  font-size: 12px;
  font-weight: 600;
  color: #0A9D5B;
}

.document-item > img {
  width: 30px;
  height: 30px;
}
